:root {
  /*Colors*/
  /*      */
  --color-primary: #202020;
  --color-landing: #272727;
  --color-landing-lt: #303030;
  --color-special: #2F2F2F;
  --color-secondary: #3DDC84;
  --color-promo: #073042;
  --color-accent: #EE3465;
  --color-feature: #4285F4;

  --color-stroke-dk: #424242;
  --color-stroke-lt: #DADADA;

  --color-text-primary: #FFFFFF;
  --color-text-secondary: #8B8B8B;
  --color-text-promo: #000000;
  --color-text-warning: var(--color-accent, red);
  --color-text-link: var(--color-feature, blue);

  --color-movie-card: #222222;

  /*Fonts*/
  /*     */
  --font-family-primary: Inter, 'Roboto', sans-serif;

  --font-weight-normal: 400;
  --font-weight-bold: 500;

  --font-size-xs: calc(10 / 16 * 1rem);
  --font-size-s: calc(12 / 16 * 1rem);
  --font-size-primary: calc(14 / 16 * 1rem);
  --font-size-m: calc(18 / 16 * 1rem);
  --font-size-l: calc(50 / 16 * 1rem);
  --font-size-xl: calc(50 / 16 * 1rem);

  /*Line-height*/
  /*           */
  --line-height-primary: 1.2;
  --line-height-m: 1.4;
  --line-height-l: 1.6;
  --line-height-xl: 1.8;

  /*Transition*/
  /*           */
  --transition-primary: .3s ease-out;

  /*Opacity*/
  /*       */
  --opacity-link-hover: .7;
  --opacity-button-hover: .8;
}






