.text {
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-primary);
  color: var(--color-text-link);
}

@media screen and (max-width: 767px) {
  .text {
    font-size: var(--font-size-s);
  }
}