.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  row-gap: 22px;
  text-align: center;
}

.item {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .list {
    row-gap: 15px;
  }
}
