.title {
  margin: 0;
  font-family: inherit;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-primary);
  color: var(--color-text-primary);
}
