.list {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 37px;
  padding: 0;
  margin: 0;
  list-style: none;
  align-self: center;
}

.item {
  width: fit-content;
}

@media screen and (max-width: 1279px) {
  .list {
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .list {
    row-gap: 14px;
    grid-template-columns: repeat(1, 1fr);
  }
}
