.link {
  font-family: inherit;
  font-size: var(--font-size-primary);
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .link {
    font-size: var(--font-size-s);
  }
}