.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  row-gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}

.stroke {
  border-bottom-color: var(--color-stroke-dk);
}

.item:nth-last-of-type(1) .stroke {
  display: none;
}

@media screen and (max-width: 999px) {
  .stroke {
    border-bottom-color: var(--color-stroke-lt-alt);
  }
}
