.button {
  width: 100%;
  padding: 15px 0;
  background-color: var(--color-auth-button);
  border-radius: 3px;
  transition: background-color var(--transition-primary);
}

.button_disabled {
  background-color: var(--color-auth-button-disabled);
  cursor: default;
}

.button_disabled:hover {
  opacity: 1;
}

.text {
  margin: 0;
  font-family: inherit;
  font-size: var(--font-size-primary);
  line-height: var(--line-height-primary);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
  transition: color var(--transition-primary);
}

.text_disabled {
  color: var(--color-text-disabled);
}

@media screen and (max-width: 767px) {
  .text {
    font-size: var(--font-size-s);
  }
}
